{# Static lab network for this host. Renders to /etc/netplan/60-lab.yaml. #}
network:
  version: 2
  ethernets:
    {{ lab_interface }}:
{% if lab_interface_match is defined %}
      match:
        name: "{{ lab_interface_match }}"
{% endif %}
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ lab_ip }}/{{ lab_prefix }}
      routes:
        - to: default
          via: {{ lab_gateway }}
      nameservers:
        addresses: {{ lab_nameservers | to_json }}
        search: ["{{ lab_search }}"]
{% if lab_vlans | default([]) | length > 0 %}
  vlans:
{% for v in lab_vlans %}
    {{ v.name }}:
      id: {{ v.id }}
      link: {{ v.link | default(lab_interface) }}
      dhcp4: false
      dhcp6: false
      addresses: {{ v.addresses | to_json }}
{% endfor %}
{% endif %}
